<html>

<head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <h1> Are you sure you want to delete <em> {{item.name}}?</em> </h1>
    <form action="{{url_for('deleteMenuItem',restaurant_id = item.restaurant_id, menu_id=item.id)}}" method='post'>
        <input type='submit' , value='Delete' class="button alert">
        <a href="{{url_for('restaurantMenu', restaurant_id = item.restaurant_id)}}" class="button"> Cancel </a>
    </form>
</body>
<div class="footer">
    <h3><a href="{{url_for('restaurantsIndex')}}"> Return to list of restaurants </a></h3>
</div>
</html>
