<html>


<head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
</head>


<body>
    <div>

        <h1>Restaurant List</h1>
        <a href="{{url_for('newRestaurantItem', restaurant_id = restaurant_id) }}" class="button">Create New Item</a>

        <div class='flash'>
            {% with messages = get_flashed_messages() %} {% if messages %}
            <ul>
                {% for message in messages %}
                <li>
                    <strong> {{ message }} </strong>
                </li>
                {% endfor %}
            </ul>
            {% endif %} {% endwith %}
        </div>
        <div class="cards">
            {% for restaurant in restaurants %}
            <!-- restaurant for loop -->

            <section class='card'>
                <header>
                    <h3>{{restaurant.name}}</h3>
                </header>
                <button>
                    <a href="{{url_for('restaurantMenu', restaurant_id = restaurant.id)}}" class="button "> View Menu </a>
                </button>
                <button>
                    <a href="{{url_for('editRestaurantItem', restaurant_id = restaurant.id) }}" class="button ">Edit Restaurant</a>
                </button>
                <button>
                    <a href="{{url_for('deleteRestaurantItem', restaurant_id = restaurant.id)}}" class="button  warning"> Delete Restaurant </a>
                </button>
            </section>

            {% endfor %}
        </div>




        </section>
    </div>
    <div class="footer">
        <h3>
            <a href="{{url_for('restaurantsIndex')}}"> Return to list of restaurants </a>
        </h3>
    </div>
</body>



</html>