<html>

<head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
</head>


<body>

    <h1>New Menu Item</h1>

    <div class='pane'>
        <form action="{{ url_for('.newMenuItem', restaurant_id=restaurant_id )}}" method='post'>
            <label>Name:
                <input type='text' size='30' name='name' required>
            </label>
            <label>Description:
                <textarea name='description' rows='5' cols='40' required></textarea>
            </label>
            <label>Price:
                <input type='text' size='8' name='price' required>
            </label>

            <label>Course:
                <input type='radio' name='course' value='Appetizer' checked>Appetizer</dd>
                <input type='radio' name='course' value='Entree'>Entree</dd>
                <input type='radio' name='course' value='Dessert'>Dessert</dd>
                <input type='radio' name='course' value='Beverage'>Beverage</dd>
            </label>
            <input type='submit' value='Create' class="button">
        </form>
    </div>

</body>

<div class="footer">
    <h3>
        <a href="{{url_for('restaurantsIndex')}}"> Return to list of restaurants </a>
    </h3>
</div>


</html>